<div class="billing-address-details" data-bind="if: isAddressDetailsVisible() && currentBillingAddress()">
    <!-- ko if: (currentBillingAddress().prefix) --><!-- ko text: currentBillingAddress().prefix --><!-- /ko --><!-- /ko --> <!-- ko if: (currentBillingAddress().firstname) --><!-- ko text: currentBillingAddress().firstname --><!-- /ko --><!-- /ko --> <!-- ko if: (currentBillingAddress().middlename) --><!-- ko text: currentBillingAddress().middlename --><!-- /ko --><!-- /ko -->
    <!-- ko if: (currentBillingAddress().lastname) --><!-- ko text: currentBillingAddress().lastname --><!-- /ko --><!-- /ko --> <!-- ko if: (currentBillingAddress().suffix) --><!-- ko text: currentBillingAddress().suffix --><!-- /ko --><br/><!-- /ko -->
    <!-- ko if: (currentBillingAddress().street) --><!-- ko text: _.values(currentBillingAddress().street).join(", ") --><!-- /ko --><br/><!-- /ko -->
    <!-- ko text: getCityName() --><!-- /ko -->, <!-- ko text: getProvinceName() --><!-- /ko -->, <!-- ko text: currentBillingAddress().region --><!-- /ko -->, <!-- ko if: (currentBillingAddress().postcode) --><span data-bind="html: currentBillingAddress().region"></span> <!-- ko text: currentBillingAddress().postcode --><!-- /ko --><br/><!-- /ko -->
    <!-- ko if: (currentBillingAddress().countryId) --><!-- ko text: getCountryName(currentBillingAddress().countryId) --><!-- /ko --><br/><!-- /ko -->
    <!-- ko if: (currentBillingAddress().telephone) -->
    <a data-bind="text: currentBillingAddress().telephone, attr: {'href': 'tel:' + currentBillingAddress().telephone}"></a>
    <br/>
    <!-- /ko -->

    <button type="button"
            class="action action-edit-address"
            data-bind="visible: !isAddressSameAsShipping(), click: editAddress">
        <span data-bind="i18n: 'Edit'"></span>
    </button>
</div>
