<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_order_save_after"><!--<event name="sales_order_shipment_save_after">-->
		<observer name="sales_order_place_after_save_glovo" instance="VexShipping\Glovo\Observer\SalesOrderAfterSave"  />
	</event>
	<event name="sales_model_service_quote_submit_before">
        <observer name="VexShipping_glovo_fields_add_to_order" instance="VexShipping\Glovo\Observer\AddExtraFieldsToOrder" />
    </event>

</config>